body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color:rgb(47, 24, 55);
    color: rgb(227, 217, 230);
}
header {
    background: rgb(96, 88, 99);
    color: rgb(31, 5, 39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: rgb(227, 217, 230);
    text-decoration: none;
}
.hamburger {
    display: none;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 10px 0;
    }
    .hamburger {
        padding-right: 20px;
        cursor: pointer;
    }
    .hamburger .line {
        display: block;
        width: 40px;
        height: 5px;
        margin-bottom: 10px;
        background-color:rgb(227, 217, 230); 
    }
}
main {
    flex: 1;
    padding: 20px;
}
section {
    padding: 20px;
    text-align: center;
}    
footer {
    text-align: center;
    padding: 10px;
    background: rgb(31, 5, 39);
    color: rgb(227, 217, 230);
    position: relative;
    width: 100%;
    bottom: 0;
}