---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "連絡先・居場所など";
---

<BaseLayout pageTitle={pageTitle}>
    <p>Mail: madeinkrt@gmail.com</p>
    <p>Twitter: <a href="https://x.com/made_by_KRT">@made_by_KRT</a></p>
    <p>Pixiv: <a href="https://www.pixiv.net/users/45369565">45369565</a></p>
</BaseLayout>
