---
---
<header>
    <h1>はりねずみの杉山🦔</h1>
    <nav>
        <ul>
            <li><a href="/">ホーム</a></li>
            <li><a href="/about/">代表紹介</a></li>
            <li><a href="/works/">作品紹介</a></li>
            <li><a href="/contact/">お問い合わせ</a></li>
        </ul>
    </nav>
</header>